* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

// ::-webkit-scrollbar {
// 	width: 5px;
// 	border-radius: 5px;
// }

// ::-webkit-scrollbar-track {
// 	background: #f2f2f2;
// }

// ::-webkit-scrollbar-thumb {
// 	background: #b3b3b3;
// }

// ::-webkit-scrollbar-thumb:hover {
// 	background: #555;
// }

// ::placeholder {
// 	color: $black-color !important;
// }

body {
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
    background-color: $bg-color;
	position: relative;
}

button {
	outline: none !important;
}

input, textarea {
    border: 0;
	border-radius: 15px;
	width: 100%;
	margin-bottom: 0.5em;
	padding: 0.3em 0.75em;
	font-size: 16px;
	outline: none;

    &:focus{
        box-shadow: none;
    }
}

textarea {
	resize: none;
	min-height: 150px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

img {
	width: 100%;
}